In [1]:
import pandas as pd

Reading a CSV file with pandas

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,02-Aug-2021,15874.90,15892.90,15834.65,15885.15,244847433,20766.99
1,03-Aug-2021,15951.55,16146.90,15914.35,16130.75,341289658,26373.24
2,04-Aug-2021,16195.25,16290.20,16176.15,16258.80,427337644,32434.78
3,05-Aug-2021,16288.95,16349.45,16210.30,16294.60,418174517,31386.78
4,06-Aug-2021,16304.40,16336.75,16223.30,16238.20,320087281,24716.17

Extracting a particular column ðŸ˜ˆMA Analysis isse kar sakte

In [4]:
exp_df = df['Close']
exp_df

0     15885.15
1     16130.75
2     16258.80
3     16294.60
4     16238.20
5     16258.25
6     16280.10
7     16282.25
8     16364.40
9     16529.10
10    16563.05
11    16614.60
12    16568.85
13    16450.50
14    16496.45
15    16624.60
16    16634.65
17    16636.90
18    16705.20
19    16931.05
20    17132.20
21    17076.25
22    17234.15
23    17323.60
24    17377.80
25    17362.10
26    17353.50
27    17369.25
28    17355.30
29    17380.00
30    17519.45
31    17629.50
32    17585.15
33    17396.90
34    17562.00
35    17546.65
36    17822.95
37    17853.20
38    17855.10
39    17748.60
40    17711.30
41    17618.15
42    17532.05
43    17691.25
44    17822.30
45    17646.00
46    17790.35
47    17895.20
48    17945.95
49    17991.95
50    18161.75
Name: Close, dtype: float64

## Exporting a dataFrame to CSV

In [5]:
exp_df.to_csv("Export.csv", index = False)

In [6]:
new_df = pd.read_csv('Export.csv')
new_df.head()

      Close
0  15885.15
1  16130.75
2  16258.80
3  16294.60
4  16238.20