# About Panda üêº 
#### Panda is a Library used ti create Data Frame that helps us interact with CSV files and performs operations on it, hence making us very easy to work with data, what it actually does is insted of working with the data stored in hard disk device, it loads it all into the ram and hence makes the calculations and analysis crazy fast

In [1]:
import pandas as pd
import numpy as np

Creating an empty data frame

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

#### Abhi Jupyter Ko use karne ka maza aina na re bidu!

In [4]:
df1 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[3,6,8,23],[23,23,63,12]])

In [5]:
df1

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   3   6   8  23
3  23  23  63  12

### Ouptut dekho kitne acche se a raha

Now we will be seeing two functions ie df1.head(n){Upar se n rows} and df1.tail(n) {Neeche se n rows}

In [6]:
df1.head(2)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [7]:
df1.tail(2)

    0   1   2   3
2   3   6   8  23
3  23  23  63  12

# Slicing, Adding columns and Other Tips

Naming our colums

In [8]:
df2 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[3,6,8,23],[23,23,63,12]], columns=['A1','B1','C1','D1'])
df2

   A1  B1  C1  D1
0   1   2   3   4
1   5   6   7   8
2   3   6   8  23
3  23  23  63  12

Finding Size of data

In [9]:
df2.shape

(4, 4)

Slicing a matrix

In [10]:
df2.iloc[0:2,1:3]

   B1  C1
0   2   3
1   6   7